.aviso {
	background-color: white;
	margin: 0 auto;
	color: black;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.aviso__body {
	width: calc(100% - 332px);
	display: inline-block;
	vertical-align: middle;
	max-height: 243px;
}

.aviso__slider {
	padding: 0;
	width: 332px;
	display: inline-block;
	vertical-align: middle;
}

.aviso_vertical {
	min-width: 320px;
	max-width: 414px;
}

.aviso_horizontal {
	min-width: 734px;
	max-width: 875px;
}

.aviso_horizontal .aviso__slider,
.aviso_horizontal .aviso__body {

}

.aviso_vertical .aviso__slider,
.aviso_vertical .aviso__body {
	display: block;
	width: 100%
}

.aviso__description {
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 60px;
}

.aviso__footer {
	background-color: #e4e4e4;
	color: black;
	height: 47px;
	padding: 14px;
	position: relative;
}

.aviso__footer_vertical {
	background-color: white;
}

.aviso__footer_vertical .aviso__features {
	position: relative;
	top: -192px;
	color: white;
}

.aviso__contact {
	font-size: inherit;
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	line-height: 1em;
}

.aviso__contact:hover {
	color: #0056b3;
	text-decoration: underline;
}

.list-inline {
	margin-bottom: 0 !important;
	font-size: 13px;
}

.aviso__header {
	height: 76px;
	padding: 10px 10px 0 10px;
}

.aviso__main {
	padding: 0 10px 0 10px;
	max-height: 122px;
	position: relative;
}

.aviso__title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.aviso__location {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.aviso__modal-input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #9E9E9E;
	color: #007bff;
	padding: 5px;
}

.modal-title {
	color: #007bff;
	font-size: 16px;
	font-weight: normal;
}

.aviso__modal-input:invalid {
  border-bottom: 2px solid red;
  margin-bottom: -1px;
}

.aviso__modal-label {
  font-size: 13px;
}

.modal-header {
	border: none;
	padding: 0;
	margin: 1rem;
}

.modal-body {
	padding: 0;
   margin: 1rem;
}

.modal-footer {
	padding: 0;
	margin: 1rem;
	border-top: none;
}

.aviso__modal-input-error {
	display: none;
	color: red;
	margin-top: 5px;
	font-size: 13px;
	position: absolute;
}

.aviso__modal-input-error_shown {
	display: block;
}