.price {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 45px;
}

.price_vertical {
	position: absolute;
	top: -140px;
	color: white;
} 

.price_vertical .price__square-meters {
	display: none;
}

.price__input {
	padding: 0 10px;
	border: none;
	border-bottom: solid 2px #e4e4e4;
	max-width: 229px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: none;
}

.price__label {
	text-decoration: none;
	background-color: transparent;
	border:none;
	cursor: pointer;
	border-bottom: 2px solid rgba(0,0,0,0);
	max-width: 229px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.price__label:hover {
	border-bottom-color: #e4e4e4;
}

.price__square-meters {
	color: #007bff;
	font-size: 14px;
	font-style: italic;
}
