.slider__favorite {    
	position: absolute;
	z-index: 999;
	display: block;
	color: rgba(0,0,0,.6);
	width: 32px;
	height: 31px;
	font-size: 26px;
	top: 8px;
	right: 12px;
	border-radius: 50%;
	cursor: pointer;
}

.slider__favorite:hover {
	color: rgba(0,0,0,.9);
}

.slider__favorite_selected {
	color: rgba(255,0,0,0.6);
}

.slider__favorite_selected:hover {
	color: rgba(255,0,0,.9);
}

.slider__tag {
	position: absolute;
	z-index: 1000;
	display: block;
	top: 11px;
	left: 0;
	font-size: 13px;
	background-color: #b27be9;
	color: white;
	padding: 3px 10px;
}